@import './variables.scss';
*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style-type: none;
}
#overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: $darkModeBKGD;
}
.navigationBar{ //this needs to be changed for mobile(display)
    position: fixed;
    display: inline-block;
    background-color: #3282b8;
    height: 100vh;
    width: 5.5vw;
    text-align: center;
    
    h3{
        color: white;
        padding-top: 2rem;
        padding-bottom:1rem;
    }
    ul{
        left: 3px;
        margin: 0px;
        border: 0px;
        padding: 0%;
        margin-top: 3rem;
        li{
            margin-top: 5rem;
        }
    }
    i{
        font-size: 2rem;
        color: white;
    }
    p{
        color: white;
    }
    #darkModeBtn{
        position: absolute;
        bottom: 0;
        left: 10%;
        margin: auto;
        text-align: center;
        background-color: transparent;
    }
}
.main-content{
    margin-left:100px;
    width: 94.5vw;
}
.login-frm{
    position: absolute;
  top: 48vh;
  left: 40%;
  transform: translate(-50%, -50%);
    width: 60%;
    #create-highlight{
        color: white;
        font-size: 80px;
        font-family: $primaryFont;
    }
    #create-highlight2{
        color: white;
        margin-bottom: 60px;
        margin-left: 5px;
    }
    form{
        font-size: 20px;
        width: 75%;
        color: white;
        font-family: $primaryFont;
        display: flex;
        flex-direction: column;
        input{
            outline: none;
            background-color: transparent;
            border: 2px solid $thirdColor;
            border-radius: 10px;
            color: white;
            margin: 0px 0px 0px 0px;
        }
        #submitBtn{
            padding-top: 9px;
            text-decoration: none;
            text-align: center;
            background-color: $thirdColor;
            margin-top: 13%;
            font-family: $primaryFont;
            color: white;
            border:2px solid $secondaryColor;
            border-radius: 13px;
            height: 60px;
            font-size: 25px;
            width: 100%;
            
        }
    }
}
#background{
    object-fit: cover;
    height: 100vh;
    width: 37vw;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-left: 0px;
    transform: scaleX(-1);
    filter: brightness(0.6);
}
// css for laptops with 720p screens
@media only screen and (max-width: 1400px) {
    .navigationBar{
        width: 90px;
        #darkModeBtn{
            left:2%;
        }
    }
    .main-content{
        margin-left: 50px;
    }
    .main-content1{
        margin-left: 50px;
    }
    
}
