@import "./variables";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    list-style-type: none;
}
#overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: $darkModeBKGD;

}
.navigationBar{ //this needs to be changed for mobile(display)
    position: fixed;
    display: inline-block;
    background-color: #3282b8;
    height: 100vh;
    width: 100px;
    text-align: center;
    
    h3{
        color: white;
        padding-top: 2rem;
        padding-bottom:1rem;
    }
    ul{
        left: 3px;
        margin: 0px;
        border: 0px;
        padding: 0%;
        margin-top: 8rem;
        li{
            margin-top: 5rem;
        }
    }
    i{
        font-size: 2rem;
        color: white;
    }
    p{
        color: white;
    }
    #darkModeBtn{
        position: absolute;
        bottom: 0;
        left: 5px;
        background-color: transparent;
    }
}
.main-content{
    margin-left:100px;
    width: 92.5vw;
    
}
.intro{
    color: white;
    text-align: center;
    position: relative;
    top: 35vh;
    h1{
        font-size: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $primaryFont;
    }
    #intro-greeting{
       opacity: 0;
    }
    #glad{
        opacity: 0;
    }
    #intro-info{
        opacity:0;
        font-size: 40px;
        width: 100%;
    }
    button{
        position: relative;
        top: 150px;
        left: -10px;
        margin: 30px;
        padding: 40px;
        background-color: transparent;
        border: 6px solid $thirdColor;
        border-radius: 14px;
        color: white;
        font-size: 22px;
        opacity: 0;
        font-family: $primaryFont;
        transition: 0.4s;
    }
    button:hover{
        transform: scale(1.15);
        background-color: white;
        color: $secondaryColor;
        transition: 0.4s;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
}
.main-content1{
    margin-left:100px;
    width: 92.5vw;
    display: none;
    .top-menu{
        width: 90%;
        position: relative;
        top: 50px;
        left: 50px;
        #addMoneyBtn{
            background-color: $secondaryColor;
            padding: 20px;
            width: 200px;
            color: white;
            border-radius: 4px;
            font-family: $primaryFont;
        }
    }
}
#credit-txt{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0px 20px 20px 0px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
#credit-txt:hover{
    color: $thirdColor;
    transition: 0.3s;
}
